body{
	margin: 0;
}

p{
	margin: 0;
}

.header{
	width: 100%;
	height: 100px;
	text-align: center;
	position: fixed;
	top: 0;
	left: 0;
}

.content{
	width: 100%;
	position: fixed;
	left: 0;
	top: 120px;
	bottom: 300px;
	border: solid 1px #aaa; 
	display: flex;
    align-items: center;
    justify-content: center;
}

.footer{
	width: 100%;
	height: 300px;
	position: fixed;
	left: 0;
	bottom: 0;
	padding: 10px 20px;
	overflow: scroll;
}



#playButton{
	padding: 10px;
	color: white;
	font-weight: 700;
	font-size: 15px;
	background: #2269b5;
	border: 0;
	border-radius: 5px;
	position: absolute;
	display: none;
}

#routes{
	
}

#routes .route-item{


}


#routes .route-item .route-content{
	display: flex;
}

#routes .route-item .route-content .route-content-div{
	padding-left: 10px; 
	width: 100%;
}

#routes .route-item .route-content .route-content-div .start-place{
	margin-top: 0;
}

#routes .route-item .route-content .route-content-div .end-place{

}

#routes .route-item .route-content .route-content-div .detail-guide-info{
	display: flex;
}

#routes .route-item .route-content .route-content-div .detail-guide-info .direction-icon{
	width: 20px;
	height: 20px;
	margin-right:  10px;
}

#routes .route-item .route-content .route-content-div .distance-duration{
	display: flex;
	align-items: center;
	width: 100%;
}

#routes .route-item .route-content .route-content-div .distance-duration .dis-dur{
	width: 10%;
}

#routes .route-item .route-content .route-content-div .distance-duration .middle-line{
	width: 100%;
	border-bottom: solid 1px #888;
	margin: 0 10px;
}

@media only screen and (max-width: 500px) {
   .header{
		height: 100px;
	}

	.content{
		top: 120px;
		bottom: 150px;
	}

	.footer{
		height: 150px;
	}

	#routes .route-item .route-content .route-content-div .distance-duration .dis-dur{
		width: 50%;
	}

	#routes .route-item .route-content .route-content-div .distance-duration .middle-line{
		width: 50%;
	}
}

@media only screen and (max-height: 600px) {
   .header{
		height: 0px;
	}

	.content{
		top: 0px;
		bottom: 150px;
	}

	.footer{
		height: 150px;
		overflow: scroll;
	}
}